<!-- Detalles de la materia -->
<div *ngIf="materia">
    
  <h2>  {{materia.nombre | uppercase}} </h2>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Carrera</th>
        <th>Profesor </th>
        <th>Puntos</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{materia.carrera}}</td>
        <td> <div  *ngFor = "let profesor of profes">{{profesor.userName}} </div></td>
        <td>{{materia.ratingPromedio}}/5</td>
        <img src={{materia.foto}} height = "200" width = "200" > 
      </tr>
    </tbody>
  </table>
</div>

<button (click)="agregar()" type="button" class="btn btn-info btn-sm">Añadir</button>


<div *ngIf= "nuevoComentario">
  <app-comentario-form></app-comentario-form>
</div>



<!--  Mostrar comentarios-->
<li *ngFor="let comentario of comentarios | OrderByPipe">
    <div class="card text-white bg-secondary mb-2" >
        <div class="card-header">Rating: {{comentario.rating}}/5 ...... {{comentario.fecha | date}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{comentario.userName}}:</h5>
          <p class="card-text">{{comentario.texto}}</p>
        </div>
      </div>
</li>



<button (click)="goBack()" type="button" class="btn btn-info btn-sm">go back</button>
